---
interface Props {
  title: string;
  description: string;
  href: string;
  image: string;
  target?: string;
}

const { href, title, description, image, target } = Astro.props;

const cardStyles = {
  container:
    "max-w-sm bg-white rounded-lg dark:bg-gray-800 hover:shadow-md transition-all duration-300",
  image: "rounded-t-lg ",
  content: "p-5",
  title: "mb-2 text-lg font-bold tracking-tight text-gray-900 dark:text-white",
  description: "mb-3 font-normal text-gray-700 dark:text-gray-400",
};
---

<div class={cardStyles.container}>
  <a href={href} target={target ?? "_self"}>
    <img class={cardStyles.image} src={image} alt={title} />
  </a>

  <div class={cardStyles.content}>
    <a href={href} target={target ?? "_self"}>
      <h4 class={cardStyles.title}>{title}</h4>
    </a>

    <p class={cardStyles.description}>{description}</p>
  </div>
</div>
