---
import { studyInfo } from "@/lib/studiesTimeline";
import ItemTimeline from "./ItemTimeline.astro";
---

<section id="studies-timeline" class="flex flex-col space-y-4">
  <div class="flex justify-between flex-wrap items-center">
    <h2
      class="text-3xl font-semibold dark:text-white transition-colors duration-300"
    >
      My studies
    </h2>
    <a
      target="_blank"
      href="https://www.linkedin.com/in/jvngarcia/details/certifications/"
      class="text-primary-600 hover:text-primary-500 dark:text-primary-400 dark:hover:text-primary-300"
    >
      See more
    </a>
  </div>
  <ol class="relative border-s border-gray-200 dark:border-gray-700">
    {
      studyInfo.map((item) => (
        <ItemTimeline
          title={item.title}
          company={item.company}
          startDate={item.startDate}
          endDate={item.endDate}
          description={item.description}
          modality={item.modality}
          current={item.current}
          location={item.location}
        />
      ))
    }
  </ol>
</section>
